<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="LOGSTASH">
    <destination>logstash:5000</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app_name":"ticket-system"}</customFields>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC_LOGSTASH">
    <appender-ref ref="LOGSTASH"/>
    <queueSize>512</queueSize>
  </appender>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <logger level="DEBUG" name="ticket.be"/>

  <logger level="INFO" name="org.springframework"/>
  <logger level="INFO" name="org.hibernate"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ASYNC_LOGSTASH"/>
  </root>
</configuration> 